<!-- <header>
    <div class="container">
        <h1>DELECIOUS FOODS</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/create-post">Add Food</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<router-outlet></router-outlet> -->
<header class="dashboard-header">
    <div class="container">
        <div class="header-content">
            <h1>DELECIOUS FOODS</h1>
            <div class="search-container">
                <input type="text" placeholder="Search..." [(ngModel)]="searchInput">
                <button (click)="searchByFoodName()" type="submit">Search</button>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/create-post">Add Food</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
<router-outlet></router-outlet>
